@charset "UTF-8";
a:link {
  color: gray;
}

a:visited {
  color: gray;
}

a:hover {
  color: orange;
}

a:active {
  color: orange;
}

.wrapper {
  font-family: Georgia, "游明朝", YuMincho, "Hiragino Mincho ProN", Meiryo, serif;
  max-width: 1550px;
  margin: auto auto;
  padding: 50px;
}

.wrapper header {
  border: solid 1px pink;
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.wrapper header .wrap_title {
  border: solid 1px black;
  padding: 2px;
}

.wrapper header .wrap_title .title {
  border: solid 1px red;
  padding: 2px;
  margin: 0px;
  font-size: 50px;
}

.wrapper header .wrap_title .title_sub {
  border: solid 1px blue;
  padding: 2px;
  font-size: 25px;
  color: gray;
}

.wrapper header .wrap_menu {
  border: solid 1px green;
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 25px;
}

.wrapper header .wrap_menu .box1 {
  margin: 0px 20px;
}

.wrapper header .wrap_menu .box2 {
  margin: 0px 20px;
}

.wrapper header .wrap_menu .box3 {
  margin: 0px 20px;
}

.wrapper header .wrap_menu .box4 {
  margin: 0px 20px;
}

.wrapper header .wrap_menu .box5 {
  margin: 0px 20px 0px 150px;
}

.wrapper .top {
  border: solid 1px blue;
  padding: 2px;
  margin: 100px 0px;
}

.wrapper .top .wrap_img {
  border: solid 1px green;
  padding: 2px;
}

.wrapper .top .wrap_img img {
  width: 100%;
  height: 100%;
}

.wrapper .top .word {
  border: solid 1px red;
  padding: 2px;
  margin: 50px 0px;
  font-size: 40px;
  color: gray;
}

.wrapper .main {
  border: solid 1px black;
  padding: 2px;
}

.wrapper .main .wrap_item {
  border: solid 1px red;
  padding: 2px;
}

.wrapper .main .wrap_item .item {
  border: solid 1px blue;
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0px;
}

.wrapper .main .wrap_item .item .date {
  border: solid 1px green;
  padding: 2px;
  margin: 25px 0px;
  width: 33.3%;
  font-size: 25px;
  color: gray;
}

.wrapper .main .wrap_item .item .wrap {
  border: solid 1px orange;
  padding: 2px;
  width: 66.6%;
}

.wrapper .main .wrap_item .item .wrap .title {
  border: solid 1px pink;
  padding: 2px;
  margin: 25px 0px;
  font-size: 30px;
  color: black;
}

.wrapper .main .wrap_item .item .wrap .sentence {
  border: solid 1px skyblue;
  padding: 2px;
  margin: 25px 0px;
  font-size: 25px;
  color: gray;
}

.wrapper .main .page {
  border: solid 1px green;
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .main .page .container_left {
  border: solid 1px orange;
  padding: 2px;
  width: 33.3%;
}

.wrapper .main .page .container_right {
  border: solid 1px brown;
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 66.6%;
}

.wrapper .main .page .container_right .page1 {
  font-size: 24px;
  font-weight: bold;
  border: solid 1px gray;
  margin: 7.5px;
  padding: 12px 25px;
}

.wrapper .main .page .container_right .page2 {
  font-size: 24px;
  font-weight: bold;
  border: solid 1px gray;
  margin: 7.5px;
  padding: 12px 25px;
}

.wrapper .main .page .container_right .page3 {
  font-size: 24px;
  font-weight: bold;
  border: solid 1px gray;
  margin: 7.5px;
  padding: 12px 25px;
}

.wrapper .main .page .container_right .next {
  font-size: 24px;
  font-weight: bold;
  border: solid 1px gray;
  margin: 7.5px;
  padding: 12px 25px;
}

.wrapper .wrap_hr {
  border: solid 1px brown;
  padding: 2px;
  padding: 100px 0px;
}

.wrapper .prof {
  border: solid 1px #2e2b2b;
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: gray;
}

.wrapper .prof .container_prof {
  border: solid 1px blue;
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 25%;
}

.wrapper .prof .container_prof .wrap_prof {
  border: solid 1px pink;
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.wrapper .prof .container_prof .wrap_prof .wrap_img img {
  border-radius: 50%;
  width: 150px;
}

.wrapper .prof .container_prof .wrap_prof .wrap_name {
  border: solid 1px red;
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 35px;
}

.wrapper .prof .container_prof .wrap_prof .wrap_name .name {
  border: solid 1px green;
  padding: 2px;
  color: black;
  font-size: 28px;
  font-weight: bold;
  width: 150px;
}

.wrapper .prof .container_prof .wrap_prof .wrap_name .wrap_icons {
  border: solid 1px gold;
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 150px;
}

.wrapper .prof .container_prof .wrap_prof .wrap_name .wrap_icons .fab {
  border: solid 1px blue;
  padding: 2px;
  font-size: 2em;
  color: skyblue;
}

.wrapper .prof .container_prof .wrap_info {
  border: solid 1px green;
  padding: 2px;
  font-size: 25px;
}

.wrapper .prof .foot_R {
  border: solid 1px blue;
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 24%;
  padding-left: 100px;
  padding-right: 30px;
}

.wrapper .prof .foot_R .title {
  color: black;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 40px;
}

.wrapper .prof .foot_R .word {
  font-size: 24px;
}

.wrapper .prof .recent {
  border: solid 1px blue;
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  padding-left: 40px;
}

.wrapper .prof .recent .title {
  color: black;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 40px;
}

.wrapper .prof .recent .wrap_item {
  border: solid 1px gold;
  padding: 2px;
  font-size: 24px;
  padding-bottom: 15px;
}

.wrapper .prof .recent .wrap_item .subject {
  border: solid 1px blue;
  padding: 2px;
  text-decoration: none;
  border: none;
  padding: 1px;
  border-bottom: 1px solid;
  border-color: #c8c8c8;
}

.wrapper .prof .category {
  border: solid 1px blue;
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  padding-left: 60px;
}

.wrapper .prof .category .title {
  color: black;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 40px;
}

.wrapper .prof .category .wrap_item {
  font-size: 24px;
}
/*# sourceMappingURL=style.css.map */